
.react-tabs__tab {
    cursor: pointer;
    
    border: 1px solid transparent;
    transition: transform 0.2s; 
  }
  

  .react-tabs__tab--selected {
    border-color: red;
    transform: scale(1.1);
    text-decoration:red 
  }
  